@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("ticket-card-styles.css");
body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.contrast-color {
    color: var(--text-color-contrast);
}

#sidebar {
    width: 250px;
    height: 100%;
    background: #011936;
    transition: all 0.4s ease;
    overflow-x: hidden;
}
#sidebar.closed {
    width: 70px;
    transition: all 0.4s ease;
}
.app_logo {
    font-size: 1.1rem;
    border-top: 1px solid #eee;
    background: #011936;
}
.customerLogo {
    font-size: 1.2rem;
}
.customerLogo img {
    height: 30px;
}
#sidebar a {
    text-decoration: none;
    color: var(--text-color-contrast);
}
.sidenav-item {
    height: 35px;
    max-height: 35px;
    width: 90%;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.sidenav-item > a {
    transition: 0.3s ease;
    padding: 1.2rem 0.6rem;
    border-radius: 0 30px 30px 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sidenav-item a.active {
    background: #EB5E55;
    color: #011936 !important;
}
.sidenav-item a:hover {
    background: #eee;
    color: #011936 !important;
}
#sidebar.closed h3.customerLogo {
    display: none !important;
}
#sidebar.closed .sidenav-item,
#sidebar.closed .sidenav-item > a {
    width: 100%;
    border-radius: 0;
}
#sidebar.closed .sidenav-item,
#sidebar.closed .sidenav-item a {
    transition: 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar.closed i {
    font-size: 1.7rem;
}
.search-form input {
    border: 1px solid #011936;
    outline: none;
    border-radius: 25px;
}
.headerIcon {
    border-radius: 50%;
    height: 30px;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
}
.bullet {
    height: 15px;
    width: 15px;
    background: #000;
    display: inline-block;
    border-radius: 50%;
  }
  .bullet-completed {
    background: rgba(139, 243, 122, 1);
  }
  .bullet-progress {
    background: rgba(27, 27, 255, 1);
  }
  .bullet-pending {
    background: rgba(255, 59, 59, 1);
  }
  .bullet-cancelled {
    background: rgba(255, 162, 76, 1);
  }
  .bullet-total {
    background: rgba(55, 39, 114, 1);
  }
  .form-control, .input-group-text, .form-select {
    padding: 3px 5px;
  }
  .quick-ticket-btn {
    background: #EB5E55;
    color: var(--text-color-contrast);
    transition: 0.3s ease;
  }
  .quick-ticket-btn:hover {
    background: #011936;
    color: var(--text-color-contrast);
  }
  .w-70 {
    width: 70%;
  }
  .w-30 {
    width: 30%;
  }
  .dash-open-tt-record {
    background: #fad190;
    transition: 0.3s ease;
  }
  .dash-recent-tt-record {
    background: #b0d0f3;
    transition: 0.3s ease;
  }
  .dash-open-tt-record:hover {
    background: #cba15c;
    transform: scale(1.02);
  }
  .dash-recent-tt-record:hover {
    background: #789abe;
    transform: scale(1.02);
  }
  .ticket-form-container {
    background: #102536;
    color: var(--text-color-contrast);
  }
  .newTTBtn {
    border-radius: 30px;
    outline: none;
    transition: 0.2s ease;
  }
  .newTTBtn:hover {
    transform: scale(1.1);
  }
  .newTTBtn2:hover {
    transform: scale(0.95);
  }
  