@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    color: var(--text-color);
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../media/fgblogo_icon.jpg") no-repeat;
    background-size: cover;
    filter: blur(35px);
    z-index: -1;
}
.contrast-color {
    color: var(--text-color-contrast);
}

#sidebar {
    width: 250px;
    height: 100%;
    background: #011936;
    transition: all 0.4s ease;
    overflow-x: hidden;
}
#sidebar.closed {
    width: 70px;
    transition: all 0.4s ease;
}
.app_logo {
    font-size: 1.1rem;
    border-top: 1px solid #eee;
    background: #011936;
}
.customerLogo {
    font-size: 1.2rem;
}
.customerLogo img {
    height: 30px;
}
#sidebar a {
    text-decoration: none;
    color: var(--text-color-contrast);
}
.sidenav-item {
    height: 35px;
    max-height: 35px;
    width: 90%;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.sidenav-item > a {
    transition: 0.3s ease;
    padding: 1.2rem 0.6rem;
    border-radius: 0 30px 30px 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sidenav-item a.active {
    background: #EB5E55;
    color: #011936 !important;
}
.sidenav-item a:hover {
    background: #eee;
    color: #011936 !important;
}
#sidebar.closed h3.customerLogo {
    display: none !important;
}
#sidebar.closed .sidenav-item,
#sidebar.closed .sidenav-item > a {
    width: 100%;
    border-radius: 0;
}
#sidebar.closed .sidenav-item,
#sidebar.closed .sidenav-item a {
    transition: 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar.closed i {
    font-size: 1.7rem;
}
header.header {
    background: var(--text-color-contrast);
}
.search-form input {
    border: 1px solid #011936;
    outline: none;
    border-radius: 25px;
}
.notifToggle {
    border-radius: 50%;
}
.notifToggle::after,
.notifToggle::before {
    content: " " !important;
}