#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.b2heading::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100px;
    height: 3px;
    background: #000;
}
.b1section {
    background: url("../media/DASHBOARD.jpg") no-repeat;
    background-size: cover;
    filter: brightness(30%);
}
.indexCustomBg {
    background-color: var(--background-color);
}