/* Tickets Container Styles */
/* .tickets-year {} */
.tickets-month {
    height: 100px;
    width: 200px;
    padding: 0;
    background: #f1f7ed;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.tickets-month:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
/* End of Tickets Container Styles */

/* Custom Ticket Year Card */
ul.card-tags {
    list-style: none;
    display: grid;
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    gap: 8px;
    margin-top: 4px;
}
li.card-tag {
    min-width: 50px;
    text-align: center;
    font-size: 11px;
    background: #1862bd;
    color: #f1f7ed;
    border-radius: 9px;
    transition: 0.2s ease;
}
/* End of Custom Ticket Year Card */